body {
	font-family: "Myriad Pro", sans-serif;
	font-size: 14px;
	line-height: 1.3;
	color: #000;
	background: #ededed;
}

.container {
	min-width: 320px;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}
.right_block h1 a,
.right_block p,
.left_block h3 {
 	font-family: "Myriad Pro Condensed", sans-serif;
 }


/*Header*/

header {
	background: #474747;
	color: #fff;
	padding: 20px 0 0px;
}
.left_block {
	width: 100%;
	text-align: center;
}
.right_block {
    width: 100%;
    background: #2f549b;
    padding: 15px 0;
	-webkit-box-shadow: 1px 2px 17px 2px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    1px 2px 17px 2px rgba(50, 50, 50, 0.6);
	box-shadow:         1px 2px 17px 2px rgba(50, 50, 50, 0.6);
}
.right_block span {
	width: 100px;
	height: 100px;
	display: block;
    background: url(../image/sprite.png) 96% -1% no-repeat;
    margin: 0 0 0 7%;
}
.right_block h1 {
	width: 40%;
	font-weight: normal;
	margin: 10px 0;
}
.right_block span,
.right_block h1,
.right_block p {
	float: left;
}
h1 a {
	font-size: 85px;
	color: inherit;
	padding: 0 0 0px 9%;
}
.right_block p {
	font-size: 35px;
    width: 10%;
    margin: 29px 0 0 14px;
    line-height: 1;
}
.left_block h3 {
	font-weight: normal;
	font-size: 22px;
    color: #c6c6c6;
}

/*Blocks*/
.functions {
	padding: 30px 0 0;
}
.main {
	display: flex;
	justify-content: center;
	margin: 36px 5px 8px;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}
.block {
	width: 80%;	
	text-align: center;
	margin: 10px 9px 10px 15px;
	background: #fff;
	padding: 0 10px;
	box-sizing: border-box;
    min-height: 396px;
   	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.39);
	-moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.39);
	box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.39);
}

/*hover*/
.block:hover {
	background: #2f549b;
}
.block:hover > .top_block h2,
.block:hover > .top_block p,
.block:hover > .bottom_block a {
	color: #fff;
}
.block:hover > .bottom_block p {
	color: #7c9cdb;
}


.block:nth-child(3) .top_block p {
	margin: 0 25px 0;
}
.top_block {
	margin-bottom: 17px;
}
.top_block h2 {
	font-size: 36px;
    font-weight: normal;
    margin: 0;
    color: #2f549b;
}
.top_block p {
	margin: 0 15px 0;
	line-height: 20px;
	color: #2f549b;
}
.bottom_block p {
	line-height: 20px;
	margin-bottom: 31px;
	color: #5e5e5e
}
.bottom_block a {
	text-decoration: underline;
	color: #c6c6c6;
}
hr {
	width: 50%;
	color: #000;
	align: center;
}
.icon {
	display: inline-block;
	width: 120px;
	height: 120px;
	background: url(../image/sprite.png);
}
.icon_one {
	background-position: 1% 0%;
}
.icon_two {
	background-position: 0% 34%;
}
.icon_three {
	background-position: 53% -1%;
}
.icon_four {
	background-position: 53% 33%;
}

/*Resources*/
.resources {
	text-align: center;
}
.cols {
	display: flex;
	background: #c6c6c6;
	padding: 40px 5px 15px 5px;
    margin: -7px 0 0;
    justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	border-top: 2px solid #9E9E9E;
    box-sizing: border-box;
}
.col {
	width: 47.8%;
	text-align: center;
	float: left;
	min-height: 120px;
}
.col:first-child {
	margin-left: 15px;
}

/*HOVER*/

.col_hover_one:hover,
.col_hover_one:hover > .one,
.col_hover_two:hover,
.col_hover_two:hover > .two,
.col_hover_three:hover,
.col_hover_three:hover > .three,
.col_hover_four:hover,
.col_hover_four:hover > .four,
.col_hover_five:hover,
.col_hover_five:hover > .five,
.col_hover_six:hover,
.col_hover_six:hover > .six {
	color: #fff;
	background: #2f549b;
}

.col_hover_one:hover > .tool_one {
	background-position: 8% 80%;
}
.col_hover_two:hover > .tool_two {
	background-position: 92.9% 81.5%;
}
.col_hover_three:hover > .tool_three {
	background-position: 67.8% 81%;
}
.col_hover_four:hover > .tool_four {
	background-position: 8% 97%;
}
.col_hover_five:hover > .tool_five {
	background-position: 94.2% 43%;
}
.col_hover_six:hover > .tool_six {
	background-position: 39% 80%;
}

.tools {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: url(../image/sprite.png) 0 0 no-repeat;
}
.tool_one {
	background-position: 8% 63%;

}
.tool_two {
	background-position: 92.9% 63.5%;
}
.tool_three {
	background-position: 67.8% 64%;
}
.tool_four {
	background-position: 94.2% 25%;
}
.tool_five {
	background-position: 61.8% 96%;
}
.tool_six {
	background-position: 39% 63%;
}
.col h5 {
	font-size: 13px;
	font-weight: normal;
    margin: 8px 0 0;
    padding: 0 33px 0px 30px;
    color: #5e5e5e;
}
.title {
	background: #2f549b;
	display: inline-block;
	width: 65%;
	margin: 28px 0 -39px 0;
	color: #fff;
	position: relative;
}
.resources .title::before {
	content: "";
    position: absolute;
    top: 36px;
    left: -28px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 28px 25px 0;
    border-color: transparent #1f3560 transparent transparent;
}
.resources .title::after {
	content: "";
    position: absolute;
    top: 36px;
    right: -28px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 28px 0 0;
    border-color: #1f3560 transparent transparent transparent;
}
.title h3 {
	font-size: 26px;
    margin: 14px;
}

@media screen and (min-width: 500px) {
	.block {
		width: 65%;	
	}
	.col {
		width: 40.8%;
	}
}

@media screen and (min-width: 640px) {
	.block {
		width: 46%;	
	}
	.left_block {
		text-align: left;
	}
	.left_block h3 {
		font-size: 30px;
    	margin: 12px 36px 0 13px;
	}
	.col {
		width: 28.8%;
	}
	.title {
		width: 46%;
	}
	
}


@media screen and (min-width: 860px) {

	header {
		margin-top: 40px;
		padding: 20px 0;
	}
	.left_block {
		width: 55%;
	}
	.right_block {
	    margin: -30px 0;
	    width: 45%;
	    padding: 5% 0;
	}
	.right_block,
	.left_block,
	.right_block span,
	.right_block h1,
	.right_block p {
		float: left;
	}
	

	/*Blocks*/

	.block {
		width: 22%;	
	}
	.block:first-child {
		margin: 0 10px 0 4px;
	}
	.block:last-child {
		margin: 0 0px 0 11px;
	}
	.block:nth-child(3) .top_block p {
		margin: 0 25px 0;
	}


	/*Resources*/
	.cols {
		flex-wrap: nowrap;
		align-items: baseline;
	}
	.col {
		width: 17.8%;
	}
	.title {
		width: 33%;
	}

}
@media screen and (min-width: 970px) {

	.block {
		width: 23%;	
	}
	.title {
		width: 26%;
	}
	.right_block {
		padding: 15px 0;
	}


}